
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/images/dryfruits.jpg" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title"><a routerLink="/dryfruits">Dry Fruits</a></h1>
        <p>Dried fruit is fruit from which the majority of the original water content has been removed either naturally, through sun drying, or through the use of specialized dryers or dehydrators.</p>
        <P>Dried fruits retain most of the nutritional value of fresh fruits.</P>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/spices.jpg" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title"><a routerLink="/spices">Spices</a></h1>
        <p>A spice is a seed, fruit, root, bark, or other plant substance primarily used for flavoring or coloring food. Spices are distinguished from herbs, which are the leaves, flowers, or stems of plants used for flavoring or as a garnish.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/papad.jpg" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title"><a routerLink="/papad">Papad</a></h1>
        <p>A papadum, appalam or papad is a seasoned flatbread made from dried dough of black gram bean flour, either fried or cooked with dry heat until crunchy. Other flours made from lentils, chickpeas, rice, tapioca, millet or potato are also used.</p>
        
      </div>
    </div>
  </div>
