<div class="container">
    <div class="row">
    
      <div class = " card col-md-3 d-flex justify-content-between align-items-center" *ngFor="let prod of productArray">
         <img class="card-img-top" src="{{prod.img}}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{prod.nam}}</h3>
            <h4>{{prod.amt| currency : 'INR'}}</h4>
            <button type="button" class="btn" (click)="inc(prod)"><i class = "fa fa-plus"></i></button>
            <span >{{prod.qnt}}</span>
            
            <button type="button" class="btn" (click)="dec(prod)"><i class = "fa fa-minus"></i></button>
            <div class=""> 
            <button type="button" class="cart-btn" (click)="addCart(prod)">Add To Cart</button>
            
          </div>
          </div>
        </div>
  
